body{
    background-color: #000;
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.bio {
  text-align: center;
  color: #fff;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #0000FF;
  width: 100%;
  
}

.connectButton {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #0000FF;
}

progress {
    margin-top:50px;
}

/* divStyle{
    background-color: #FFF;
    width: 50px;
    height: 100px;
} */