body{
    background-color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #FEBF34;
  /* color: #fff; */
}

.bio {
  text-align: center;
  color: #fff;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #0000FF;
  width: 100%;
  
}

.connectButton {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #0000FF;
}

.progress {
    margin-top:50px;
    display: hidden;
}
table {
    /* border: solid 1px #FFFFFF; */
    padding: 15px;
}
thead, tbody, th, td{
    color: #FFFFFF !important;
}

tr{
    border: solid 1px #FFFFFF !important;
    padding: 5px;
}
textarea {
    border-radius: 5px;
}

.message-box {
    background-color: #FFFFFF;
    color: #000000;
    border: solid 1px #FFFFFF;
    margin: 5px;
    border-radius: 0 20px 20px 20px;
}

.time-stamp {
    text-align: right;
    color: rgb(177, 176, 170);
    margin-right: 5px;
}

.message {
    /* text-align: center; */
    padding: 5px;
}

.from {
    color: #0000FF;
    text-align: left;
    margin-left: 5px;
}